@font-face {
	font-family: 'Umbrage';
	src: url('umbrage2-webfont.eot');
	src: url('umbrage2-webfont.eot?#iefix') format('embedded-opentype'),
url('umbrage2-webfont.woff') format('woff'),
url('umbrage2-webfont.ttf') format('truetype'),
url('umbrage2-webfont.svg') format('svg');
}